<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Notícias Adicionar</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-light bg-light mb-5 shadow-sm">
    <a class="navbar-brand" href="#">
      Notícias
    </a>
    <a class="btn btn-primary" href="/noticia" title="home">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        <path fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
      </svg>
    </a>
  </nav>

  <% if (locals.validacao) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>Validação inválida</h3>
    <ul>
      <% validacao.forEach(element => { %>
      <li><strong><%= element.param %>:</strong> <%= element.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>


  <form action="/noticia/add" class="container" method="post">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" value="<%= noticia.titulo%>" class="form-control" name="titulo" id="titulo">
    </div>
    <div class="form-group">
      <label for="descricao">Conteúdo</label>
      <textarea type="text" rows="5" class="form-control" name="conteudo"
        id="conteudo"><%= noticia.conteudo%></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar
      formulário</button>
  </form>


  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    $(".alert").alert();
  </script>
</body>

</html>