<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Notícias</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-light bg-light mb-5 shadow-sm">
    <a class="navbar-brand" href="/">
      Notícias
    </a>
    <a class="btn btn-primary" title="home" href="/">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        <path fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
      </svg>
    </a>
    <a class="btn btn-success" title="adicionar" href="/noticia/add">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
    </a>
  </nav>

  <div class="container">
    <div class="card-columns">
      <% noticias.forEach(element => { %>
      <a href="noticia?id=<%= element.id %>" style="text-decoration: none; color:inherit">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h4"><%= element.titulo %></h2>
            <p class="card-text"><small class="text-muted"><%= element.data_postada %></small></p>
            <p class="card-text"><%= element.conteudo %> ...</p>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>