<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moda de Notícias</title>
</head>

<body>
  <h1>Moda de Notícias</h1>
</body>

</html>