<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícias</title>

	<style>
		body {
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		}

		table {
			padding: 1rem;
		}

		th {
			background: firebrick;
			color: #fff;
		}
	</style>

</head>

<body>

	<h1>Notícias</h1>

	<table>
		<tr>
			<th title="id">#</th>
			<th>Título</th>
			<th>Conteúdo</th>
		</tr>
		<% noticias.forEach(element => { %>
		<tr>
			<td><%= element.id %></td>
			<td><%= element.titulo %></td>
			<td><%= element.conteudo %></td>
		</tr>
		<% }) %>
	</table>

</body>

</html>